# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.glo
*.gls
*.ist
*.loa
*.lol
*.pri

# LaTeX build output
.build/

# macOS
.DS_Store

# JetBrains personal files
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
